
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Firebase
firebase-debug.log
*.firebasehosting.json
*.firebaserc
firebase-service-account-*.json
# Local .env file
.env*.local
.env

# IDE settings
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Turborepo
.turbo

# Backend specific
backend/node_modules
backend/dist
backend/.env
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
